# fastapi
# uvicorn[standard]
# pyyaml
# numpy
# httpx
# pydantic
# python-dotenv
# openai
# sentence-transformers
# torch


fastapi
uvicorn
numpy<2.0
scikit-learn<1.4
sentence-transformers==2.2.2
pydantic
pydantic-core
requests
python-dotenv
pyyaml


